.section-active {
  padding: 5rem 9rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
  /* background-color: red; */
  height: auto;
  height: 80vh;
  align-items: left;
}
.buttons {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 10vh;
  z-index: 100;
  /* align-self: right; */
  margin-left: 38vw;
}
.pagebuttons {
  width: 3rem;
  height: 3rem;
  padding: 0;
}
.pagebuttons:hover {
  background-color: lightgreen;
}
.displaybutton {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  font-weight: 700;
}

.section {
  display: none;
  /* display: flex;
  flex-direction: row;
  overflow: hidden; */
}
#eat {
  display: flex;
  flex-direction: row;
}
.section-active p {
  margin-top: 5vh;
  margin-left: 5vw;
}
.section-active img {
  width: 40vw;
  margin-top: -12vh;
}
#eat p {
  margin-left: 0;
}
