.footer {
  background-color: darkgray;
  height: 10vh;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

p {
  margin-left: auto;
}
.icons {
  margin-right: auto;
  margin-top: 2vh;
}
a {
  padding-left: 0.5vw;
}
