* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  background-color: #f3f3f3;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}
